.audit-container-parent:hover {
  transform: translateY(-2.5px);
}
.audit-container-parent {
  background-color: #c4c4c4;
  height: 8%;
  margin-top: 0.5%;
  cursor: pointer;
}
.audit-container-child {
  background-color: #eae3e3;
  height: 8%;
  margin-top: 0.5%;
  margin-left: 5%;
}
.TitleText {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  text-align: center;
  letter-spacing: 0.1px;
  margin: 1%;
}
@media only screen and (min-width: 400px) {
  .status-completed {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    padding: 8px;
    margin: 5px;
  }

  .status-not-completed {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    padding: 8px;
    margin: 5px;
  }
}