.homeContainer {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  position: absolute;
  border-bottom: 0px;
}
@media only screen and (min-width: 400px) {
  .leftContainer {
    position: absolute;
    width: 30%;
    height: 120%;
    left: -2%;
    top: -3%;
    bottom: -3%;
    background: url("./images/campus.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: url(05072019_Buildings_001.jpg); */
    transform: rotate(5deg);
    margin-bottom: 0px;
  }
}
.middleContent {
  color: white;
  left: -2%;
  top: -1px;
  bottom: -3%;
}

a:hover {
  color: blue;
  box-shadow: red;
}
a {
  text-decoration: none;
  color: white;
}
.StudentButton {
  color: white;
  position: absolute;
  width: 16%;
  height: available;
  left: 32%;
  top: 50%;
  text-align: center;
  font-size: 28px;
  background: #b5a36a;
  border-radius: 32px;
  transition: all 0.2s ease-in-out;

}
.FacultyButton {
  color: white;
  position: absolute;
  width: 16%;
  height: available;
  left: 52%;
  top: 50%;
  text-align: center;
  font-size: 28px;
  background: #b5a36a;
  border-radius: 32px;
  display: inline-block;
}
@media only screen and (min-width: 400px) {
  .rightContainer {
    background: url("./images/campus2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    width: 30%;
    height: 120%;
    left: 72%;
    top: -2%;
    bottom: -6%;
    transform: rotate(3deg);
  }
}
@media only screen and (min-device-width: 400px) {
  .logo {
    color: white;
    background: url("./images/logo.png") no-repeat;
    background-size: auto;
    position: relative;
    width: 40%;
    height: 25%;
    left: 35%;
    top: 20%;
  }
}
