body {
  /* margin: 20vh; */
  /* padding: 0; */
  font-family: sans-serif;
  /* background: radial-gradient(lightgoldenrodyellow, lightslategrey); */
}
.login-wrapper-wrapper {
  height: 100vh;
  width: 100vw;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(lightgoldenrodyellow, lightslategrey);
}
.login-wrapper {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 1.6);
  border-radius: 25px;
}
.login-wrapper form input {
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
}

.buttonContainer {
  width: fit-content;
}
.login-button button {
  float: left;
  margin-right: 8vh;
  color: black;
  font-size: 2vh;
  transition: 0.3s;
  margin-top: 40px;
  border-radius: 0.5em;
}
.login-button button:hover {
  background: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px green, 0 0 25px yellow, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.register-button button {
  color: black;
  font-size: 2vh;
  transition: 0.3s;
  margin-top: 40px;
  border-radius: 0.5em;
}
.register-button button:hover {
  background: black;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px green, 0 0 25px yellow, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.LUpic {
  position: absolute;
  height: 10%;
  width: 20%;
  top: 3rem;
  left: 5%;
}

.rectCont {
  height: 15%;
  width: 100%;
}

