.Register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rectCont {
  height: 15%;
  width: 100%;
}

.rectangle {
  position: absolute;
  background-color: black;
  top: -100px;
  height: 37%;
  width: 100%;
  transform: skewY(-1.5deg);
  z-index: 0;
}

.LUpic {
  position: absolute;
  height: 10%;
  width: 20%;
  top: 3rem;
  left: 5%;
}

.RegisterContainer {
  color: #4D4D4D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.input {
  height: 1.4rem;
  width: 50%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  height: 40px;
  width: 10rem;
  border: 0 transparent;
  margin: 25px 0 0 0;
  font-size: 1rem;
  background-color: #B6A16B;
  cursor: pointer;
}
