.TopBar {
  position: fixed;
  left: 20%;
  top: 0px;
  width: 80%;
  height: 10%;
  background-color: #D5D5D5;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}
.TopbarTextLeft {
  margin-left: 15px ;
  font-size: 1.5em;

}
TopbarTextRight {

}
.TopbarPicture {
  background-image: url("../HomePage/images/profilePic.jpg");
  width: 60px;
  height: 50px;
  margin-right: 3%;
  margin-left: 20px;
  padding: 0.2em;
  overflow: hidden;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  border-radius: 10%;
  background-size: cover;
}
