.mainContentWrapper {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 20%;
  top: 10%;
  background-color: white;
}
.welcomeBanner {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  /* position: absolute; */
  width: 434px;
  height: 406px;
  margin-top: 10%;
  background: #b5a36a;
  border-radius: 60px;
}
.mainHeading {
  text-align: center;
  margin-top: 25%;
  font-size: 70px;
}
.subHeading {
  text-align: center;
  margin-top: 30%;
  font-size: 25px;
}
.sched-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}
.scheduleButton {
  width: 255.2px;
  height: 61.6px;

  background: #000000;
  border-radius: 32px;
  color: white;
}

.back-btn {
  left: 0;
  margin-left: 4px;
  cursor: pointer;
  transition: 50ms;
  border-radius: 0.45em;
}
.back-btn:hover
{
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  position: relative;
  background: black;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 2px green, 0 0 5px yellow;
  transition: 0.5s;
  overflow: hidden;
}
.fwd-btn {
  float: right;
  position: relative;
  right: 0;
  margin-right: 4px;
  cursor: pointer;
  transition: 50ms;
  border-radius: 0.45em;
}
.fwd-btn:hover
{
  display: inline-block;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  position: fixed;
  background: black;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 2px green, 0 0 5px yellow;
  transition: 0.5s;
  overflow: hidden;
}
@media only screen and (min-width: 400px)
and (min-height: 400px){

  .planDeg {
    margin-left: 40%;
    border-radius: 2em;
    background: #b5a36a;
    transition: all 0.2s ease-in-out;
    float: left;
  }

  .planDegPdf {
    display: inline-block;
    width: fit-content;
    float: right;
    margin-right: 27%;
    border-radius: 2em;
    background: #b5a36a;
    transition: all 0.2s ease-in-out;

  }
}