.NavigationPane {
  /* Side bar */

  position: fixed;
  width: 20%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
  z-index: 1;
  overflow: auto;

}
.NavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  border: 1.5px solid white;
}
.NavLink {
  margin-bottom: 10%;
  color: white;
  font-size: 1.5em;
  transition: 250ms;
  /* border: 2px solid white; */
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
}
.NavLink:hover {
  transform: translateY(-10px);
}
@media only screen and (min-device-width: 400px) {
  .Logo {
    background-image: url("./HomePage/images/logo.png");
    margin-bottom: 0;
    margin-top: 15%;
    width: 90%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
