.Topbar {
  /* Topbar */

  width: 100%;
  height: 100px;
  right: 252px;
  background-color: #b0b3b8;
  color: #000000;
  font-size: 40px;
  display: flex;
}
.TopbarTextLeft {
  margin: auto;
}
.TopbarTextRight {
  margin: auto;
}
