.mainContentWrapper {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 20%;
  top: 10%;
  background-color: white;
}
.welcomeBanner {
  text-align: center;
}
.container {
  display: contents;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
}
.item {
  /*position: -webkit-sticky;*/
  width: 440px;
  height: 360px;
  margin-top: 5%;
  background: #b5a36a;
  border-radius: 60px;
}
.mainHeading {
  text-align: center;
  margin-top: 25%;
  font-size: 70px;
}
.subHeading {
  text-align: center;
  margin-top: 30%;
  font-size: 25px;
}
.sched-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}
.scheduleButton {
  width: 255.2px;
  height: 61.6px;

  background: #000000;
  border-radius: 32px;
  color: white;
}
